body {
}

.box {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-style: solid;
  margin: 0;
  padding: 0;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.anchor {
  position: absolute;
  border-style: none;
  border-radius: 50%;
  cursor: se-resize;
}

.topbar {
    position: absolute;
    height: 30px;
    border-style: solid;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: right;
}

.close-button {
    border-radius: 100%;
    margin-right: 10px;
    background-color: tomato;
    border: none;
    width: 15px;
    height: 15px;
}