body {
}

.box {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-style: solid;
  margin: 0;
  padding: 0;
}

.anchor {
  position: absolute;
  border-style: solid;
  border-radius: 50%;
  cursor: se-resize;
}

.topbar {
    position: absolute;
    height: 30px;
    border-style: solid;
    cursor: move;
}